* copy*
* copy *
*.copy
.vscode/
.env
package-lock.json
node_modules/
dist/
coverage/
*.log
*.swp
*.swo
*.swn
*.swnb
*.swp
*.swpo
*.swpx
*.swt
*.swx
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?
*.sw?